<div class="row student-dashboard-main-user-row" id="topCoverPic" ng-init="toTheTop()">
	<div class="col-sm-1 userImage">
		<img src="{{user.profile.studentphoto}}" alt="../images/bower-logo.png" class="">
	</div>
	<div class="col-sm-8 userDetails">
		<div class="userDetails-name">{{user.profile.studentname}}</div>
		<div class="userDetails-bio">{{user.profile.studentabout}} </div>
	</div>
	<!-- <div class="col-sm-3 userStats">
		<div class="clear-both"></div>
		<ul>
			<li>
				<span class="fa-stack fa-lg">
				  <i class="fa fa-circle fa-stack-2x" style="color: rgba(255, 0, 0, 0.8);"></i>
				  <i class="fa  fa-thumbs-up fa-stack-1x fa-inverse"></i>
				</span>
				&nbsp;12  Likes
			</li>
			<li>
				<span class="fa-stack fa-lg">
				  <i class="fa fa-circle fa-stack-2x" style="  color: rgba(128, 0, 128, 0.8);"></i>
				  <i class="fa  fa-flag fa-stack-1x fa-inverse"></i>
				</span>
				&nbsp;23  Subscriptions
			</li>
			<li>
				<span class="fa-stack fa-lg">
				  <i class="fa fa-circle fa-stack-2x" style="color: rgba(255, 255, 0, 0.8);"></i>
				  <i class="fa  fa-bolt fa-stack-1x fa-inverse"></i>
				</span>
				&nbsp;34  Rank
			</li>
			<li>
				<span class="fa-stack fa-lg">
				  <i class="fa fa-circle fa-stack-2x" style="color: rgba(0, 128, 0, 0.8);"></i>
				  <i class="fa  fa-check fa-stack-1x fa-inverse"></i>
				</span>
				&nbsp;45  Connects
			</li>
		</ul>
	</div> -->
</div>


<div id="extra-div-by-animesh">
	<div class="student-dashboard-main-nav-row student-darkBlue" id="student-top-bar-for-directive">
		<div class="staticSpan student-blue">

		</div>
		<div id="topBarDiv">
			<span onclick="HaveFun(1)" id="index1" class="focus" role="tab" data-target="#dashboard" data-toggle="tab" ng-init="getStudentEmailVerificationStatus()">&nbsp;&nbsp; Dashboard <i ng-if="user.profile.emailverificationstatus === 'false'" class="fa fa-asterisk" style="color:red"></i>&nbsp;&nbsp;</span>
			
			<span onclick="HaveFun(2)" id="index2" role="tab" data-target="#bookedhistory" data-toggle="tab" ng-init="checkNewBookSessionForNotification()" ng-click="bookhistorytab='hide'">&nbsp;&nbsp; Booked History <i ng-if="(sessionLength !== 1) && (sessionLength !== 0)" class="fa fa-asterisk" style="color:red"></i> &nbsp;&nbsp;</span>
			
			<span onclick="HaveFun(3)" id="index3" role="tab" data-target="#profile" data-toggle="tab" ng-init="incompleteProfileCheck(user.uid)">&nbsp;&nbsp; Profile <i ng-if="(profileIncomplete == 'Done') && profiletab == 'show'" class="fa fa-asterisk" style="color:red"></i> &nbsp;&nbsp;</span>
			
			<span onclick="HaveFun(4)" id="index4" role="tab" data-target="#incentive" data-toggle="tab" ng-init="notificationOfIncentiveChange()"> &nbsp;&nbsp; My Scholarship Fund <i ng-if="((sessionIncentive !== 1) && (sessionIncentive !== 0)) || ((referralIncentive !== 1) && (referralIncentive !== 0))" class="fa fa-asterisk" style="color:red"></i> &nbsp;&nbsp;</span>

		</div>
	</div>
</div>

<div class="tab-content" ng-controller="StudentDashCtrl">

	<div ng-include="'views/student-dashboard-dash.html'" role="tabpanel" class="tab-pane" id="dashboard" ng-controller="StudentDashCtrl">
	</div>
	<div ng-include="'views/account-options.html'" role="tabpanel" class="tab-pane active" id="account-options" ng-controller="StudentDashCtrl">
	</div>
	<div ng-include="'views/student-dashboard-bh.html'" role="tabpanel" class="tab-pane" id="bookedhistory" ng-controller="studentDashBookedHistoryCtrl">
	</div>
	<div ng-include="'views/student-dashboard-profile.html'" role="tabpanel" class="tab-pane" id="profile" ng-controller="StudentDashCtrl">
	</div>
	<div ng-include="'views/student-dashboard-incentive.html'" role="tabpanel" class="tab-pane" id="incentive" ng-controller="StudentDashCtrl">
	</div>
</div>


<!-- For FOOTER SCROLL DIRECTIVE -->
<div scroll-directive></div>

<script type="text/javascript">
		


	function HaveFun(tabIndex){
		var totalBarLength=$('#topBarDiv').parent().width();
		var totalLinks=$('#topBarDiv>span').length;
		var divWithSpans=$('#topBarDiv');
		divWithSpans.css('transition','all 0.3s');
		var totalSpanLengthRequired=0;
		//var totalSpanLength=0;
		for(var i=0;i<totalLinks;i++){
			//totalSpanLength+=$('#index'+(i+1)).width();
			if($('#index'+(i+1)).hasClass('focus')){
				$('#index'+(i+1)).removeClass('focus');
			}
			$('#index'+(i+1)).css('opacity',String(1.0-0.15*Math.abs(tabIndex-(i+1))));
		}
		for(var i=0;i<tabIndex-1;i++){
			totalSpanLengthRequired+=$('#index'+(i+1)).width();
			// console.log($('#index'+(i+1)).width());
		}
		totalSpanLengthRequired+=($('#index'+(tabIndex)).width())/2.0;
		$('#index'+tabIndex).addClass('focus');
		$('.staticSpan').width(String($('#index'+tabIndex).width()));
		// console.log(totalBarLength);
		var t = ((totalBarLength/2)-totalSpanLengthRequired);
		divWithSpans.css('marginLeft',((totalBarLength/2.0)-totalSpanLengthRequired-(((tabIndex-1)/(totalLinks-1))*13))+'px');
	}

	$(document).ready(function() {
		
	});

</script>
