<style type="text/css">
#ques {
	font-size: 20px;
	color : #237DAC;
	font-weight: bolder;
}
#ans { 
	font-size: 15px;
	color : grey;
}
</style>
<div class="row" ng-init="toTheTop(); getAllUpcomingWebinar()">
    
</div>
<div class="verify-blue-strip blue"></div>

<div class="row verify-content-row "  > 
	<div class="col-sm-12 verify-main-content" id="verify-content">
		<div class="verify-main-content-div contentPadding" >
					
	<div class="row" style=" margin-left:-48em;margin-top: -2em;">
		<center>
			<h1><span style = "font-size : 55px; color : #237DAC;">U</span>pcoming <span style = "font-size : 55px; color : #237DAC;">W</span>ebinars</h1>
		</center>
	</div>

	<div class="row" style="font-size: 1.2em;padding-left: 1em;     padding-bottom: 1em;">
		In search of your dream college? Come, attend Webinars from experts, who would help you in finding your true calling. 
		<br/>Register Now!
	</div>
	<div ng-repeat="(webinarId,webinar) in allCommingWebinars">
	<div class="row" style="padding-left: 1em; z-index: 1000; margin-top: 1.6em; position: absolute;">
		<div class="col-sm-2" style="font-size: 1.2em; font-weight: bold;">Date</div>
		<div class="col-sm-9" style="font-size: 1.2em;padding-left: 10em; font-weight: bold;">Title</div>
	</div>
	<div class="seperator" style="width:75em; padding-top:3em;"></div>

	<div class="row" style="margin-top:1.3em;">
		<div class="col-sm-2" style="margin-top: 1em;">
			<div class="dateTimeIndc">
            <div class="row dateTimeIndc-date"><center>{{webinar.webinarDate.split(" ")[2]}}</center></div>
            <div class="row dateTimeIndc-month"><center>{{webinar.webinarDate.split(" ")[1]}}<br>{{webinar.webinarDate.split(" ")[0]}}</center></div>
            <div class="row dateTimeIndc-year"><center>{{webinar.webinarTime}}</center></div>
          </div>
		</div>
		<div class="col-sm-7" style=" margin-top: 1em; padding-left: 2em;">
			<img src="{{webinar.mentorPhoto}}" align="left" width="75" height="75">
			<div class="row student-dashboard-bh-row-rightPart-name"><strong>{{webinar.webinarTopic}}</strong></div>
			<div class="row" style="overflow-y: scroll; height: 12em; ">{{webinar.webinarDescription}}</div>
		</div>
		<div class="col-sm-2"><input type="button" class="btn btn-primary" style=" width: 100%;margin-top: 2em;margin-left: 2em;" value="Register"></div>
	</div> 
	</div>
 </div>
</div>
</div>


 	

	