<!-- <div class="explore-app-outer-div row" ng-init="toTheTop();">
	<div class="col-sm-6 explore-app-inner-div-left">
		<img src="../images/android.png" class="explore-app-phone" />
	</div>
	<div class="col-sm-6 explore-app-inner-div-right">
		<h2>We're working hard behind the scenes to create something awesome.</h2>
		<p> want to be first in the line for grabing the deal. </p>
		<div class="input-group-container">
          <div class="input-group input-group-lg">
           <span class="login-inputgroup_style input-group-addon _glyphicon glyphicon glyphicon-envelope"></span>
           <input type="email" class="login-inputgroup_style form-control" placeholder="Your E-mail">
          </div>
        </div> 
        <button class="btn btn-primary btn-login_style pull-right">Notify Me</button>  
	</div>
</div> -->

<div class="explore-app-outer-div row" ng-init="toTheTop();">
	<div class="col-sm-6 explore-app-inner-div-left">
		<img src="../images/android.png" class="explore-app-phone-left" />
	</div>
	<div class="explore-app-content">
		<center><h2>We're working hard behind the scenes to create something <br /></center>
		 <center style="font-size:2em">awesome!</center>
		</h2><br />
		<center><p> want to be first in the line for grabing the deal. </p></center>
		
        <div class="input-group-container">
          <div class="input-group input-group-lg">
           <span class="login-inputgroup_style input-group-addon _glyphicon glyphicon glyphicon-envelope"></span>
           <input type="email" style="background-color: rgba(238,246,251,0.9);" ng-model="notify.email" class="login-inputgroup_style form-control" placeholder="Your E-mail">
          </div>
        </div> 
        <button ng-disabled="!notify.email"  class="btn btn-primary btn-login_style pull-right" ng-click="androidNotification()">Notify Me</button>  
        <span><h4 style="color:green"><strong>{{successmessage}}</strong></h4></span>
        
    </div>
	<div class="col-sm-6 explore-app-inner-div-right">
		<img src="../images/ios.png" class="explore-app-phone-right" />
	</div>
</div>