<div class="row" ng-init="toTheTop()">
    
</div>
<div class="verify-blue-strip blue"></div>

<div class="row verify-content-row " > 
	<div class="col-sm-12 verify-main-content" id="verify-content">
		<div class="verify-main-content-div" >
			<div class="row acc-verified-sec">
				<div class="col-sm-4 img-sec">
					<img src="/images/tick-blue-large.png" class="img-responsive">
				</div>
				<div class="col-sm-8">
					<div class="row">
						<center><h1 style="color:green;">Success!</h1><br/></center>
						<center><h1>Your College has been registered.</h1><br/></center>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<center><h3 style="color:#5CA9D6;"> Please check your email for further steps. Thank You! </h3></center>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
