<style type="text/css">
#ques {
	font-size: 20px;
	color : #237DAC;
	font-weight: bolder;
}
#ans { 
	font-size: 15px;
	color : grey;
}
</style>
<div class="row" ng-init="toTheTop()">
    
</div>
<div class="verify-blue-strip blue"></div>

<div class="row verify-content-row " > 
	<div class="col-sm-12 verify-main-content" id="verify-content">
		<div class="verify-main-content-div contentPadding" >
					
	<div class="row">
		<center>
			<h1> <span style = "font-size : 55px; color : #237DAC;">F</span>requenty <span style = "font-size : 55px; color : #237DAC;">A</span>sked <span style =  "font-size : 55px; color : #237DAC;">Q</span>uestion </h1>
		</center>
	</div>

	<div class="seperator"></div>

	<div class="row">
		<br /><br />
		<p id = "ques">
			1. Why should I create an Account on My Mission Admission?
		</p>
		<p id = "ans">
			We believe that knowledge is shareable if people collaborate. If you are looking to enroll in a college and need guidance on selection process or you simply want to explore the career paths which you can follow or may be you are just concerned about making an informed choice then My Mission Admission should definitely be a help in this direction.
		</p><br />
		<p id = "ques">
			2. Is your service paid?
		</p>
		<p id = "ans">
			No, we do not believe that access to education should be exclusive to a few. Therefore we want to help each and every student looking to explore their career choices for free.
		</p><br />
		<p id = "ques">
			3. Will I get admission if I create a profile with My Mission Admission?
		</p>
		<p id = "ans">
			May be or May be not. This totally depends on your ability to reach out to as many colleges and attend as much counselling with different colleges across platform. Even doing so does not guarantee any admission confirmation. You are given admission to the college only when your profile falls under the selection criteria of a college.
		</p><br />
		<p id = "ques">
			4. Is there someone who could help me to create a better profile?
		</p>
		<p id = "ans">
			There is always help available if you ask. Our expert team is available all the time. To make an impressive profile visit the following link. <a ng-href="#/register">Click here</a>. You can also have a look at the following article to read about attributes of good and strong profile. “ Creating Awesome profile to have a lasting impression on counsellors”. 

			Alternatively, for further queries you can write to us on the following email address <a href="mailto:support@mymissionadmission.com">support@mymissionadmission.com</a>
		</p><br />
		<p id = "ques">
			5. I have created my profile. What should I do next?
		</p>
		<p id = "ans">
			As our registered member, you get to talk to unlimited number of college counsellors to discuss about your chances of admission in their institution. We encourage you to search a college of your choice and book a counselling session with them.
		</p><br />
		<p id = "ques">
			6. What are the requirements of a counselling session?
		</p>
		<p id = "ans">
			A computer with speakers and mic. with an internet connection having bandwidth of 1 mbps should do the trick. The better the speed of your internet connection the more is the quality of your conversation. Remember, you can create quick bonding with the counsellors only when you are not concerned with the surroundings. So we suggest you to have the best possible environment so that the video chat happens smoothly and in an engaging way.
		</p><br />
		<p id = "ques">
			7. How long can I talk to a counsellor?
		</p>
		<p id = "ans">
			There is no limit on the duration of your video call with the counsellor. However, on an average a single counselling session happens for 15 - 30 minutes. During which a counsellor gets to inform you about his/her college and you can ask any related questions applicable to your admission and studies happening at the campus. Please feel free to ask whatever you need to know about that college. Of course, our counsellors are here to solve your doubts.
		</p><br />
		<p id = "ques">
			8. What is My Scholarship Fund?
		</p>
		<p id = "ans">
			To get you fund your education we have a special initiative which focuses on rewarding you on using our platform for your college selection. We provide virtual money which is convertible into benefits and fees reduction at the time of your admission. You just have to invite your friends to use our platform and also talk to as many counsellors as you can. Both activities results in an increase in your Scholarship fund. So get started now to claim your scholarship in your desired college. [Note: To claim your fund you need to apply to a course in a college which is listed on our platform.]
		</p><br />
		<p id = "ques">
			9. I have many friends who want to talk to colleges in a group is that possible?
		</p>
		<p id = "ans">
			You can host the session at your desired location and in a group. Our recommended group size is 10 students. However, this can increase to 20 students if you have a large room or you are comfortable talking in turns. To service you better we recommend you to call us so that we can coordinate with colleges on your behalf. Although these sessions can be started with a prior notice of 30 mins but its always better if we have a day advance of notice. This helps us in curating your profiles as applications, which is sent to college counsellors, to arrange better colleges to counsel your group and thus having a focused counselling session for everyone.
		</p>
		<br/>
		<p id = "ques" style = "color : #237DAC;">
				 Call +91-8800781625 or e-mail <a href="mailto:support@mymissionadmission.com">support@mymissionadmission.com</a>
	    </p>
	</div> 
		</div>
	</div>
</div>
 
	