<div class="row-fluid login-row_style" ng-init="toTheTop()">
  <div id ="" class="container-fluid text-center blue  login-container login-container_style student-login bg col-md-12 ">
    <form class="form-signin" name="forma" ng-submit="forgotPassword()">
      
     

        <h2>Forgot Password??</h2>
        <br/>
        <h5 ng-if="sendSuccessFully === 'Not Done'">Enter your Email here and then submit, you will get a Email with temporary password. Use this password to login and change the password!</h5>
         <p style="color:green; font-size:14px;" ng-if="sendSuccessFully === 'Done'">{{message}}</p>
         <p style="color:red; font-size:14px;" ng-if="sendSuccessFully === 'failure'">{{message}}</p>

        <br>
        <div class="input-group-container">
          <div class="input-group input-group-lg">
           <span class=" login-inputgroup_style input-group-addon _glyphicon glyphicon glyphicon-lock"></span>
            <input type="email" required ng-model="user.email" class="login-inputgroup_style form-control" placeholder="Username/Email">
          </div>
        </div>


               
        <br/> <br/>
        

       
        
        <button class="btn btn-lg btn-primary main-page-feature-first-signup-btn_border main-page-feature-first-signup-btn" type="submit" ng-click="toTheTop()" ng-disabled="!user.email">Submit</button>
        
        <p style="text-align:center;">Already have an Account? <a href="#/login"><strong>Log In</strong></a></p>
      
        <p><b>OR</b></p>

        <p >New to My Mission Admission? <a href="#/register"><strong>Sign  Up</strong></a></p>
        <br>
        <p ng-show="error" class="error-danger">{{error}}</p>
       
      </div>

    </form>
  </div>
</div> 
