<div class="row-fluid login-row_style" ng-init="toTheTop()">
  <div id ="" class="container-fluid text-center blue  login-container login-container_style student-login bg col-md-12 ">
    <form class="form-signin" name="forma" ng-submit="login()">
      
      <div class="form-signin-div-tobeload" ng-show="modalShown">
        <i class="fa fa-spinner fa-3x fa-spin"></i>
      </div>

      <div class="form-signin-div-tobehaze" ng-class="{'form-signin-div-tobehaze show_M': modalShown, 'form-signin-div-tobehaze': !modalShown}">

        <h2>LOG IN</h2>

        <div class="input-group-container">
          <div class="input-group input-group-lg">
            <span ng-class="{'login-inputgroup_style input-group-addon _glyphicon glyphicon glyphicon-user': student1IdFlag !== 'Done', 'login-inputgroup_style input-group-addon _glyphicon green glyphicon glyphicon-user': student1IdFlag == 'Done', 'login-inputgroup_style input-group-addon _glyphicon red glyphicon glyphicon-user': collegeIdFlag == 'Done'}"></span>
            <input type="text" required ng-change="showEmail()" ng-model="user.email" ng-blur="doThisForCounsellor(user.email); doThisForStudent(user.email)" class="login-inputgroup_style form-control" placeholder="Username">
          </div>
        </div>

        <h4><div class="animate-show" ng-if="collegeIdFlag == 'Done'"><br>Hi <strong>{{ collegeName.$value }}</strong>, Please <a href="http://www.mymissionadmission.com/#/login-college/{{user.email}}">click here</a> to login..</div></h4>

        <div class="input-group-container" ng-if="collegeIdFlag !== 'Done'">
          <div class="input-group input-group-lg">
           <span class=" login-inputgroup_style input-group-addon _glyphicon glyphicon glyphicon-lock"></span>
           <input type="password" required ng-model="user.password" class="login-inputgroup_style form-control" placeholder="Password">
          </div>
        </div>
        <br/> <br/>
        
        <div class="checkbox" ng-if="collegeIdFlag !== 'Done'">
          <label>             
           <!--  <input type="checkbox" value="remember-me"> Remember me  --><a href="#/forgotpassword/">Forgot Password?</a>             </label>             
        </div>
        
        <button class="btn btn-lg btn-primary main-page-feature-first-signup-btn_border main-page-feature-first-signup-btn" type="submit" ng-click="toTheTop()" ng-if="collegeIdFlag !== 'Done'">Sign in</button>
        <br>
        <p ng-if="collegeIdFlag !== 'Done'">New to My Mission Admission? <a href="#/register"><strong>Sign  Up</strong></a></p>
        <br>
        <p ng-show="error" class="error-danger">{{error}}</p>

      </div>

    </form>
  </div>
</div> 
