<div class="verify-blue-strip blue" ng-init = "go(); toTheTop();"></div>
<div class="row verify-content-row">
	<div class="col-sm-12 verify-main-content">
		<div class="verify-main-content-div">
			
			<div class="row acc-verified-sec" ng-if ="verStatus == 'verified'">
				<div class="col-sm-4 img-sec">
					<img src="/images/tick-blue-large.png" class="img-responsive">
				</div>
				<div class="col-sm-8">
					<div class="row">
						<center><h1>Congratulations!</h1><br/></center>
						<center>
							<h1>You are <span style="color:green;">successfully Enrolled</span>, with the {{nodaldetail.nodalCenterName}}</h1>
							<br/>
							<h2>To have sessions with various colleges, please visit to your nodal center.</h2>
						</center>
					</div>
					<div class="row">
						<table class="table table-striped">
					      <tbody>
					        <tr>
					          <td>Address:</td>
					          <td>{{nodaldetail.nodalCenterName}}, {{nodaldetail.nodalCity}}, {{nodaldetail.nodalState}}</td>
					        </tr>
					        <tr>
					          <td>Contact No:</td>
					          <td>{{nodaldetail.nodalPhone}}</td>
					        </tr>
					        <tr>
					          <td>Email :</td>
					          <td>{{nodaldetail.nodalAdminEmail}}</td>
					        </tr>
					      </tbody>
					    </table>
					</div>
				</div>
			</div>

			  
			<div class="row bad-req-sec" ng-if ="verStatus == 'not verified'">
				<div class="col-sm-4 img-sec">
					<img src="/images/cross-red.png" class="img-responsive">
				</div>
				<div class="col-sm-8">
					<div class="row">
						<center><h1>Sorry</h1><br/></center>
						<center><h1 style="color:red;">Bad Request!</h1><br/></center>
					</div>
				</div>
			</div>
			
			<div class="row bad-req-sec" ng-if ="verStatus == 'already verified'">
				<div class="col-sm-4 img-sec ">
					<img src="/images/smily_face.jpg" style="width=20px;"class="img-circle">
				</div>
				<div class="col-sm-8">
					<div class="row">
						<center><h1>&nbsp;</h1><br/></center>
						<center><h1 >Your account is already verified with us</h1><br/></center>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>