<div class="row-fluid login-row_style" ng-init="toTheTop()">
  <div id ="" class="container-fluid text-center blue  login-container login-container_style student-login bg col-md-12 ">
    <form class="form-signin" name="resetform" ng-submit="resetPassword()">
      
     

        <h2>Reset your password</h2>
        <br/>
        <p>{{message}}</p>
        
         <div class="input-group-container">
              <div class="input-group input-group-lg">
               <span class=" login-inputgroup_style input-group-addon _glyphicon glyphicon glyphicon-lock"></span>
               <input name="password" type="password" required oninvalid="this.setCustomValidity('Password cannot be blank')" oninput="this.setCustomValidity('')" ng-model="user.resetpassword" placeholder="Create Password" class="login-inputgroup_style form-control">
              </div>
            </div> 

            <div class="input-group-container">
              <div class="input-group input-group-lg">
               <span class=" login-inputgroup_style input-group-addon _glyphicon glyphicon glyphicon-lock"></span>
               <input name="confirm_password" type="password" required ng-model="confirm_password" placeholder="Confirm Password" class="login-inputgroup_style form-control" ui-validate=" '$value==user.resetpassword' " ui-validate-watch=" 'user.resetpassword' ">
              </div>
            </div>
            
            <div ng-if="resetform.confirm_password.$dirty && resetform.confirm_password.$error.validator"><strong style="color:red">Passwords do not match! </strong></div> 
            <br/>
        
            <button class="btn btn-lg btn-primary main-page-feature-first-signup-btn_border main-page-feature-first-signup-btn" type="submit" ng-click="toTheTop()" ng-disabled="(resetform.confirm_password.$dirty && resetform.confirm_password.$error.validator)">Submit</button>
        
        
        <p ng-show="error" class="error-danger">{{error}}</p>
    </form>
    </div>
  </div>
