<div class="row search-page-row-top blue" ng-init="toTheTop(); searchAllColleges();">
    <h1 ng-show="currentState!='' && currentCourse!='' && collegeNotFound ==false">Colleges for {{currentCourse}} in {{currentState}}</h1>
    <h1 ng-show="currentState!='' && collegeNotFound ==false && currentCourse==''">Colleges in {{currentState}}</h1>
    <h1 ng-show="currentCourse!='' && collegeNotFound ==false  && currentState==''">Colleges for {{currentCourse}}</h1>
    <!--  Ask Anubha for Content -->
          <!-- <div class="row search-query" ng-show="allCollege">
            <div class="col-md-12">
              <center>
                All colleges are...
              </center> 
            </div>
          </div> -->
</div>
<div class="row search-page-row-main" ng-init="">

  <!-- For FOOTER SCROLL DIRECTIVE -->
  <!-- <div footer-scroll data-elems="#search-sidebar:p^m" data-target-scroll="#search-results-content" data-target-class="" data-offset-elem="#search-sidebar" data-extra-offset="100"></div>
 -->
  <div scroll-directive class="col-sm-3 search-page-row-main-side" id="search-sidebar">
      <div class="row search-page-row-main-side-filter-row">
        <div class="col-xs-3" style="padding-top:4px; cursor:pointer;" ng-click="searchToggle()">
          All
        </div>
        <div class="col-xs-4" ng-click="searchToggle()">
          <div class="toggle-outer-div"><div class="toggle-inner-circle" id="searchToggleBtn"></div></div>
        </div>
        <div class="col-xs-5" style="padding-top:4px; cursor:pointer;" ng-click="searchToggle()">
          Featured
        </div>
      </div>
      <div class="row search-page-row-main-side-filter-row">
        <div class="col-xs-12">
          Search Location
          <br />
          <select ng-model="stateToView" ng-change="initializeStateToView(stateToView); searchCollegeByState()" class="login-inputgroup_style-searchRes form-control" ng-options="k as v for (k, v) in states">
            <option value="">{{dropdownMessage}}</option>
          </select>
        </div>
      </div>
      <div class="row search-page-row-main-side-filter-row">
        <div class="col-xs-12">
          Search Colleges
          <br />
          <select ng-model="courseToView" ng-change="initializeCourseToView(courseToView); searchCollegeByCourse()" class="login-inputgroup_style-searchRes form-control" ng-options="k as v for (k, v) in courses"> 
            <option value="">{{dropdownMessageCourses}}</option>
          </select>
        </div>
      </div>
      <div class="row search-page-row-main-side-filter-row">
        <div class="col-xs-12">
          Search with College Name
          <br />
          <input type="text" class="login-inputgroup_style-searchRes form-control" ng-model="subfilter" ng-keyup="updateSubfilter(subfilter)" placeholder="Search with Name">
        </div>
      </div>
    </div>
  <div class="col-xs-12 search-page-row-main-side-mobile">
    <div class="row search-page-row-main-side-filter-row">
      <div class="col-xs-3" style="padding-top:4px">
        All
      </div>
      <div class="col-xs-4" ng-click="searchToggle()">
        <div class="toggle-outer-div"><div class="toggle-inner-circle" id="searchToggleBtn"></div></div>
      </div>
      <div class="col-xs-5" style="padding-top:4px">
        Featured
      </div>
    </div>
    <div class="row search-page-row-main-side-filter-row">
      <div class="col-xs-12">
        Search Location
        <br />
        <select ng-model="stateToView" ng-change="searchCollegeByState()" class="login-inputgroup_style-searchRes form-control" ng-options="k as v for (k, v) in states">
          <option value="">{{dropdownMessage}}</option>
        </select>
      </div>
    </div>
    <div class="row search-page-row-main-side-filter-row">
      <div class="col-xs-12">
        Search Colleges
        <br />
        <select ng-model="courseToView" ng-change="searchCollegeByCourse()" class="login-inputgroup_style-searchRes form-control" ng-options="k as v for (k, v) in courses"> 
          <option value="">{{dropdownMessageCourses}}</option>
        </select>
      </div>
    </div>
    <div class="row search-page-row-main-side-filter-row">
      <div class="col-xs-12">
        Search with College Name
        <br />
        <input type="text" class="login-inputgroup_style-searchRes form-control" ng-model="subfilter" placeholder="Search with Name">
      </div>
    </div>
  </div>
  <div class="col-sm-9 col-sm-offset-3 col-xs-12 search-page-row-main-content" id="search-results-content">
    <div class="container-fluid">
      <div id="searchResultDiv" class="row search-page-row-main-content-row" footer-scroll data-elems=".search-page-row-main > div.col-sm-3:m#p" data-target-scroll="#searchResultDiv" data-target-class="search-page-row-main-side" data-offset-elem=".search-page-row-main > div.col-sm-3">

        <div class="col-sm-12 search-page-row-main-content-row-error" ng-show="collegeNotFound && currentState!='' && currentCourse!=''">
          <center>
            <strong>The college counsellors are unavailable at this moment.</strong>
            <br />
            <p>You may contact us to help you in searching your desired course and college.
                  <br/>
                          +91 8800781625
                (support@mymissionadmission.com )</p>
          </center>
        </div>
        <div class="col-sm-12 search-page-row-main-content-row-error" ng-show="collegeNotFound && currentCourse!='' && currentState==''">
          <center>
            <strong>The college counsellors are unavailable at this moment.</strong>
            <br />
            <p>You may contact us to help you in searching your desired course and college.
                 <br/>
                          +91 8800781625
                (support@mymissionadmission.com )</p>
          </center>
        </div>
        <div ng-hide="collegeNotFound">
          <div class="col-sm-12 col-md-5 search-page-row-main-content-result-block" ng-animate="'animate'"  ng-repeat="(collegeId,college) in searchColleges | filter:subfilter | filter:colltype | orderBy:'cId'  " ng-show="college.verifiedcollege=='verified'" ng-click="storeview(college.collegeId)">
            <a ng-show="signedIn()" ng-href="#/college-profile/{{college.collegeId}}" style="text-decoration:none;">
              <div class="search-page-row-main-content-result-block-view-overlay"><i class="fa fa-eye"></i>{{college.collegeView}} Views</div>
              <!-- <div class="search-page-row-main-content-result-block-logo-overlay">
                <img src="../images/bower-logo.png" class="" alt="xyz college logo" />
              </div> -->
              <div class="row result-block-image">
                <img ng-src="{{college.collegephoto}}" class="" alt="Photo of {{college.collegephoto}}" />
              </div>
             <div class="row result-block-des">
                <div class="col-xs-8">
                  <strong>{{college.collegename | titleCase}}</strong>
                </div>
                <!-- <div class="col-sm-4 likes">
                  <i class="fa fa-thumbs-o-up"></i> 12 &middot; 23 <i class="fa fa-thumbs-o-up"></i>
                </div> -->
              </div>
              <div class="row result-block-sub-des">
                <div class="col-sm-12">
                  <p> {{college.collegestate | titleCase}} </p>
                </div>
                
              </div>
            </a>
            <a ng-hide="signedIn()" ng-click="loginError(college.collegename,college.collegeaffiliation, college.collegestate, college.collegephoto)" style="text-decoration:none;">
              <div class="search-page-row-main-content-result-block-view-overlay"><i class="fa fa-eye"></i> {{college.collegeView}} Views </div>
              <!-- <div class="search-page-row-main-content-result-block-logo-overlay">
                <img src="../images/bower-logo.png" class="" alt="xyz college logo" />
              </div> -->
              <div class="row result-block-image">
                <img ng-src="{{college.collegephoto}}" class="" alt="Photo of {{college.collegephoto}}" />
              </div>
              
              <div class="row result-block-des">
                <div class="col-xs-8">
                  <strong>{{college.collegename | titleCase}}</strong>
                </div>
                <!-- <div class="col-sm-4 likes">
                  <i class="fa fa-thumbs-o-up"></i> 12 &middot; 23 <i class="fa fa-thumbs-o-up"></i>
                </div> -->
              </div>
              <div class="row result-block-sub-des">
                <div class="col-sm-12">
                  <p> {{college.collegestate | titleCase}} </p>
                </div>
                
              </div>

            </a>
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-if="loginErrorModal" class="search-Page-loginErrorModal">

  <div class="modal-backdrop"></div>

  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel">Please Log In!</h4>
    </div>
    <div class="modal-body">
      <div class="container-fluid">
        <div class="row">
          <center><h3>Want to know more about this college?</h3></center>
        </div>
        <br /><br />
        <div class="row">
          <div class="col-xs-5">
            <div class="result-block-image result-block-image-error-Popup">
              <img ng-src="{{collegeImage}}" alt="Photo of {{collegeName}}">
            </div>
          </div>
          <div class="col-xs-7">
            <h3>{{collegeName | titleCase}}</h3>
            <h6>{{collegeAff | titleCase}}</h6>
            <h6>{{collegeState | titleCase}}</h6>
            <div class="seperator"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a ng-href="#/login"><button type="button" class="btn btn-default">Login</button></a>
      <a ng-href="#/register"><button type="button" class="btn btn-primary">New User, Register</button></a>
    </div>
  </div>
  
</div>