<!DOCTYPE html>
<html>
<head ng-init="toTheTop()">
	<title>Sitemap</title>
</head>
<body>
<div class="container-fluid" style="padding-left:10em; margin-bottom:10em;">
	<div class="row">
		<div class="container-fluid col-sm-2" style="padding-left: 2em; color:#52A2DB;">
			<h2><b>Site Map</b></h2>
		</div>
	</div>

	<div class="seperator" style="width: 70%; margin-left: 1em;"></div>

	<div class="row">
		<div class="container-fluid " >
			<center><h3><b>Regions</b></h3></center>
		</div>
		<br>
	</div>

	<div style="font-size:1em; color:#0A4B5F;">
		<span ng-repeat="(stateId,state) in states " >
        	<a ng-href="#/search" class="col-sm-3" ng-init="stateToView" ng-click="stateSelectedFromSiteMap(stateId)">{{state}}</a>
        </span>
    </div>

    <div class="row">
		<div class="container-fluid " >
			<center><h3><b>Courses</b></h3></center>
		</div>
		<br>
	</div>

	<div style="font-size:1em; color:#0A4B5F;">
		<span ng-repeat="(courseId,course) in courses " >
        	<a ng-href="#/search" class="col-sm-3" ng-click="courseSelectedFromSiteMap(courseId)">{{course}}</a>
        </span>
    </div>
	

</div>
</body>
</html>