<style type="text/css">
  .stu :hover {
    letter-spacing: 0.5px;
}
</style>
<div class="student-dashboard-profile-row" ng-init="toTheTop(); getBookedWebinarsByStudent()"> 

  <div class="panel panel-default">
    <div class="panel-heading">
      Booked Webinars
    </div>
    <div class="panel-body">
      <div class="container-fluid">
        <div class="row" ng-if="studentBookedWebinar.length==0" >
          <div class="contentPadding theme-container panel-body student-dashboard-dash-detail-row-panel-body student-dashboard-dash-detail-row-panel-body-video"  > <center style="font-family:verdana; font-size:1em; font-weight:bold"><br> Umm.. it seems, you have not engaged with your dream college, yet. To Attend Webinar/Counselling-sessions with multiple colleges, kindly visit: </center> 
            <div class="row">
              <div class="col-sm-10 col-sm-offset-1">
                <div style="font-family: verdana; :hover{color:white;letter-spacing:1px;};" class="stu"><br> <b><a style="font-size: 1.5em;">Join Upcoming Webinars</a></b> Attend Live and Informative Webinars with your friends.</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" ng-if="studentBookedWebinar.length!==0" >
          <div class="col-xs-12" ng-repeat="(webinarId, webinar) in studentBookedWebinar">
            <div class="row" style="padding: 1em; margin-bottom: 1.5em; border-bottom: 1px solid #237DAC;">
              <div class="col-xs-2">
                <div class="dateTimeIndc">
                  <div class="row dateTimeIndc-date"><center>{{webinar.webinarDate.split(" ")[2]}}</center></div>
                  <div class="row dateTimeIndc-month"><center>{{webinar.webinarDate.split(" ")[1]}}<br>{{webinar.webinarDate.split(" ")[0]}}</center></div>
                  <div class="row dateTimeIndc-year"><center>{{webinar.webinarTime}}</center></div>
                </div>
              </div>
              <div class="col-xs-2">
                <div class="med-user-img" style="width: 8em; height: 8em; margin-top: 1em;"><img src="{{webinar.mentorPhoto}}" alt="" class=""></div>
                <h4><strong>&nbsp;&nbsp;{{webinar.mentorName | titleCase}}</strong></h4>
              </div>
              <div class="col-xs-6">
                <div class="row student-dashboard-bh-row-rightPart-name"><strong>{{webinar.webinarTopic | titleCase}}</strong></div>
                <div class="row" style="overflow-y: scroll; height: 12em; ">{{webinar.webinarDescription}}</div>
              </div>
              <div class="col-xs-2" ng-init="getCollegeDetail(session.collegeurl,session.collegeurlId)">
                <center>
                  <div class="row" ng-init="isThisWebinarLive(webinar.webinarId)">
                    <button class="btn" data-toggle="modal" data-target="#liveModal" style="color: rgba(255,54,54,0.70); padding: 0.5em 2em; background-color: transparent; border: 2px solid rgba(255,54,54,0.70); border-radius: 2em; letter-spacing: 2px;" ng-show="thisWebinarLive[webinar.webinarId].length !== 0" ng-click="attendWebinar(webinar)"><i class="fa fa-circle"></i>&nbsp;<strong>Live</strong></button>
                  </div>
                </div>
              </center>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ______________________________________________________________________________________________ -->

  <div class="panel panel-default">
    <div class="panel-heading">
      All Upcomming Webinars
    </div>
    <div class="panel-body">
      <div class="container-fluid">
      <h4 style="color:green" ng-if="studentWebinar.length=== 0"><strong><center>No currently scheduled webinars.</center></strong></h4>
        <div class="col-sm-6 student-dashboard-bh-row-block" ng-repeat="(webinarId, webinar) in studentWebinar">

          <div class="row">
            <div class="col-xs-3">
              <div class="med-user-img"><img src="{{webinar.mentorPhoto}}" alt="" class=""></div>
              <h4><strong>{{webinar.mentorName | titleCase}}</strong></h4>
              <br />
              <div class="dateTimeIndc">
                <div class="row dateTimeIndc-date"><center>{{webinar.webinarDate.split(" ")[2]}}</center></div>
                <div class="row dateTimeIndc-month"><center>{{webinar.webinarDate.split(" ")[1]}} <br>{{webinar.webinarDate.split(" ")[0]}}</center></div>
                <div class="row dateTimeIndc-year"><center>{{webinar.webinarTime}}</center></div>
              </div>
            </div>
            <div class="col-xs-9 student-dashboard-bh-row-rightPart">
              <div class="row student-dashboard-bh-row-rightPart-name"><strong>{{webinar.webinarTopic | titleCase}}</strong></div>
              <div class="row student-dashboard-bh-row-rightPart-query">{{webinar.webinarDescription}}</div>
                <div class="col-xs-6">
                  <h4 style="color:red"> <center>Seats are full.</center></h4>
                  <!-- <button class="btn btn-primary main-page-feature-first-signup-btn_border main-page-feature-first-signup-btn" ng-click="bookThisWebinar(webinar,webinarId)">Attend Webinar</button> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="liveModal" tabindex="-1" role="dialog" aria-labelledby="liveModalLabel">
  <div class="modal-dialog" role="document" style="width:80%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="liveModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-7">
              <iframe style="width:100%" height="390" ng-src="{{trustSrc(video.src)}}"  frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-xs-5" style="padding: 0em 3em">
              <strong>Chats</strong>
              <div style="overflow-y:scroll; max-height:200px; min-height:200px; border:1px solid #ccc; scrollTop:200px">
                <div ng-repeat="(key,value) in QNADetails | orderBy: 'false'">
                  <div>
                    <div><strong>{{value.studentName}} :</strong> {{value.question}}</div>
                    <div style="float:right" ng-if="value.replyByAdmin">{{value.replyByAdmin}} : <strong>Admin</strong> </div></br>
                  </div>
                </div>
              </div>
              <div class="row" style="font-size: 1.2em; font-weight: bolder; padding-top:1em">
                Ask your query ?
              </div>
              <form ng-submit="askQuestion(question)">
                <div class="row" style="margin-top:1.2em;">
                  <textarea  ng-model="question" style="resize:none; border-bottom: 1px solid; height: 5em !important;" maxlength=1024 placeholder="Your Query" class="login-inputgroup_style form-control"></textarea>
                </div>
                <div class="row" style="margin-top:1em;">
                  <input type="submit" class="btn btn-primary main-page-feature-first-signup-btn_border main-page-feature-first-signup-btn" value="send"></input>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>